# Structure
classes/
target/
bin/

# Maven
**/interpolated-*.*

# IDEs & plugins
.classpath
.project
.settings/
.idea
.gradle
.groovy
.checkstyle
*.iml

# it local repositories
it/local-repo/

# Compiled classes
*.class

# Logs
**/*.log

# Results
**/*.out
**/*.err

# Packaging
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# jvm crash logs
hs_err_pid*

# MS objects
*.suo
*.exe
*.ilk
*.ipch
*.pdb
.vs/
Debug/
Release/