#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
/**
 * The interface generated by Javacc/java (by JavaCodeGenerator.java with java/CharStream.template)
 *  that describes a character stream that maintains line and column number positions
 *  of the characters.<br>
 * It also has the capability to backup the stream to some extent.<br>
 * An implementation of this interface is used in the TokenManager implementation generated by
 *  JavaCC.<br>
 * All the methods except backup() can be implemented in any fashion.<br>
 * backup() needs to be implemented correctly for the correct operation of the lexer.<br>
 * Rest of the methods are all used to get information like line number, column number
 *  and the String that constitutes a token and are not used by the lexer.<br>
 * Hence their implementation won't affect the generated lexer's operation.
 */
${SUPPORT_CLASS_VISIBILITY_PUBLIC?public :}interface CharStream {

  /**
   * Returns the next character from the selected input. The method
   * of selecting the input is the responsibility of the class
   * implementing this interface. Should be called only after hasNextChar
   * or hasNextToken returned true. In other cases the behavior is not defined
   * and runtime exception such as IndexOutOfBoundsException may be thrown.
   */
  char getNextChar();

  /**
   * Checks whether there are unread characters in the input.
   *
   * @return whether next character exists
   */
  boolean hasNextChar();

  /**
   * Similar to hasNextCharacter, but may have additional side effects.
   *
   * @return whether next character exists
   */
  boolean hasNextToken();

  /**
   * Backs up the input stream by amount steps.<br>
   * The lexer calls this method if it had already read some characters but could not use them
   *  to match a (longer) token. So, they will be used again as the prefix of the next
   *  token and it is the implementation's responsibility to do this right.
   */
  void backup(int amount);

  /**
   * The lexer calls this function to indicate that it is done with the stream
   *  and hence implementations can free any resources held by this class.<br>
   * Again, the body of this function can be just empty and it will not affect
   *  the lexer's operation.
   */
  void Done();

  /**
   * Returns a string made up of characters from the marked token beginning
   *  to the current buffer position.<br>
   * Implementations have the choice of returning anything that they want to. For example,
   *  for efficiency, one might decide to just return null, which is a valid implementation.
   */
  String GetImage();

  /**
   * Returns an array of characters that make up the suffix of length 'len'
   *  for the currently matched token.<br>
   * This is used to build up the matched string for use in actions in the case of MORE.<br>
   * A simple and inefficient implementation of this is as follows :
   * <code>
   *   {
   *      String t = GetImage();
   *      return t.substring(t.length() - len, t.length()).toCharArray();
   *   }
   * </code>
   */
  char[] GetSuffix(int len);

  /**
   * Returns the line number of the first character for current token
   *  (being matched after the last call to hasNextToken).
   */
  int getBeginLine();

  /**
   * Returns the column number of the first character for current token
   *  (being matched after the last call to hasNextToken).
   */
  int getBeginColumn();

  /**
   * Returns the line number of the last character for current token
   *  (being matched after the last call to hasNextToken).
   */
  int getEndLine();

  /**
   * Returns the column number of the last character for current token
   *  (being matched after the last call to hasNextToken).
   */
  int getEndColumn();

  //boolean getTrackLineColumn();
  //void    setTrackLineColumn(boolean trackLineColumn);

  int     getTabSize();
  void    setTabSize(int i);

}
