#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
/**
 * Node class generated by JJTree/java (by NodeFiles.java with java/SingleNode.template)
 *  that extends the ${NODE_CLASS?:generated }base node class ${NODE_CLASS:-Node}.
 */
public class ${NODE_TYPE} extends ${NODE_CLASS:-Node} {

  public ${NODE_TYPE}(final int id) {
    super(id);
  }

  public ${NODE_TYPE}(final ${PARSER_NAME} p, final int id) {
    super(p, id);
  }

#if NODE_FACTORY
  public static Node jjtCreate(final int id) {
    return new ${NODE_TYPE}(id);
  }

  public static Node jjtCreate(final ${PARSER_NAME} p, final int id) {
    return new ${NODE_TYPE}(p, id);
  }

#fi
#if VISITOR
  /** Accept the visitor. */
#if VISITOR_EXCEPTION
  public ${VISITOR_RETURN_TYPE} jjtAccept(final ${PARSER_NAME}Visitor visitor, ${VISITOR_DATA_TYPE:-Object} data)
      throws ${VISITOR_EXCEPTION} {
#else
  public ${VISITOR_RETURN_TYPE} jjtAccept(final ${PARSER_NAME}Visitor visitor, ${VISITOR_DATA_TYPE:-Object} data) {
#fi
#if VISITOR_METHOD_NAME_INCLUDES_TYPE_NAME
    ${VISITOR_RETURN_TYPE_VOID?:return }visitor.visit${NODE_TYPE}(this, data);
#else
    ${VISITOR_RETURN_TYPE_VOID?:return }visitor.visit(this, data);
#fi
  }
#fi
}