#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStream;
import java.io.InputStreamReader;
import java.io.Reader;

/**
 * The class generated by Javacc/java (by JavaCodeGenerator.java & JavaHelperFiles.java
 *  with gwt/StreamProvider.template) that implements the Provider interface for streams.
 *
 * <p>This generated class can be safely deleted if installing in a GWT installation
 *  (use StringProvider instead).
 */
public class StreamProvider implements Provider {

  Reader reader;

  public StreamProvider(Reader reader) {
    this.reader = reader;
  }
  
  public StreamProvider(InputStream stream) throws IOException {
    reader = new BufferedReader(new InputStreamReader(stream));
  }
  
  public StreamProvider(InputStream stream, String charsetName) throws IOException {
    reader = new BufferedReader(new InputStreamReader(stream, charsetName));
  }

  @Override
  public int read(char[] buffer, int off, int len) throws IOException {
    int result = reader.read(buffer, off, len);

    /* CBA -- Added 2014/03/29 --
         This logic allows the generated Java code to be easily translated to C# (via sharpen) -
         as in C# 0 represents end of file, and in Java, -1 represents end of file
         See : http://msdn.microsoft.com/en-us/library/9kstw824(v=vs.110).aspx
         ** Technically, this is not required for java but the overhead is extremely low
         compared to the code generation benefits.
    */
    if (result == 0) {
      if (off < buffer.length && len > 0) {
        result = -1;
      }
    }

    return result;
  }

  @Override
  public void close() throws IOException {
    reader.close();
  }

}

